<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102503588465-d79124pkevn8ch5or02t407bp9mgkior.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102503588465-d79124pkevn8ch5or02t407bp9mgkior</string>
	<key>API_KEY</key>
	<string>AIzaSyAC0j2FHlqas5jPixhoobDrTy3OEx-eCKc</string>
	<key>GCM_SENDER_ID</key>
	<string>102503588465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Monash.ArtTourV2</string>
	<key>PROJECT_ID</key>
	<string>arttour-1553820042607</string>
	<key>STORAGE_BUCKET</key>
	<string>arttour-1553820042607.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102503588465:ios:8605560ef7a8afd1</string>
	<key>DATABASE_URL</key>
	<string>https://arttour-1553820042607.firebaseio.com</string>
</dict>
</plist>